streamlit
spacy
thinc
tensorflow
keras      # Specify a version compatible with your code
pandas
numpy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
